body {
  min-width: 100%;
  min-height: 100%;
}

.left {
  background-color: blue;
  float: left;
  width: 25%;
  height: 300px;
}
article {
  background-color: orange;
  float: left;
  padding: 0px, 10px;
  width: 50%;
  height: 300px;
}
.right {
  background-color: red;
  float: left;
  width: 25%;
  height: 300px;
}
footer {
  clear: both;
  background-color: green;
  height: 125px;
  width: 100%;
}
header {
  background-color: purple;
  height: 125px;
  width: 100%;
}